<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Karim Page</title>
</head>
<body style="background-color: aquamarine;">
    <center>
        <h1 style="color: black;">Hi Myself Phatan Karimulla and Iam a FullStack Developer</h1>
        <h1>and Iam looking for  a Frontend role in my team.. can any one interseted </h1>
        <a href="{% url 'jobseeker' %}">Contact</a>
    </center>
</body>
</html>